@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
}

/* html {
    font-size: 10px;
} */

body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* margin: 0; */
}

ul {
    /* margin: 0; */
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
}

.top-bg {
    background-color: #151517;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

header li,
.dishes li,
.social li {
    display: inline-block;
    margin: 15px 10px;
}

/* .social li {
    background: url(../img/eat-me_sprites1.png) no-repeat;
}

li.facebook {
    width: 30px;
    height: 30px;
    background-position: -91px 0;
    z-index: 2;
} */

.social a {
    display: block;
    background: url(../img/eat-me_sprites.png) no-repeat;
}

a.facebook {
    width: 8px;
    height: 16px;
    background-position: -64px 0;
}

a.facebook:hover {
    background-position: -64px -17px;
}

a.twitter {
    width: 16px;
    height: 13px;
    background-position: -74px 0;
}

a.twitter:hover {
    background-position: -74px -17px;
}

a.skype {
    width: 15px;
    height: 15px;
    background-position: -47px 0;
}

a.skype:hover {
    background-position: -47px -17px;
}

.contacts-top a {
    color: #f1f1f3;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}

h1,
h6.title {
    margin: 20px 10px;
    color: #151517;
    font-family: "Roboto Slab";
    font-weight: 700;
    font-size: 30px;
}

.head-menu a {
    text-align: right;
    color: #151517;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.head-menu a:hover {
    border-bottom: 3px solid #f5ed07;
}

.head-menu li {
    margin: 30px 10px;
}

.soup-bg {
    min-height: 480px;
    text-align: center;
    background: url(../img/bg-soup.jpg) center/cover;
}

.fruit-soup h2 {
    padding: 95px 0 40px;
    text-align: center;
    font-family: "Roboto Slab";
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 2px;
}

.fruit-soup p {
    color: red;
    /* color: #fff; */
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.cta a {
    display: inline-block;
    margin: 40px 0 95px;
    padding: 20px;
    font-family: "Roboto";
    color: #151517;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #f5ed07;
    border-radius: 4px;
}

.cta a:hover {
    padding: 18px;
    border: 2px solid #f5ed07;
    background-color: #fff;
}

.flex-center {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.advantage {
    padding: 40px 0;
    box-sizing: border-box;
    text-align: center;
    min-height: 260px;
}

.advantage:hover {
    padding: 38px 0;
    border: 2px solid #f5ed07;
    border-radius: 4px;
}

.advantage h3 {
    font-family: "Roboto Slab";
    color: #151517;
    font-weight: 700;
    font-size: 18px;
}

.advantage p {
    font-family: "Roboto";
    color: #878787;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.about-bg {
    padding: 35px 0;
    box-sizing: border-box;
    background-color: #f1f1f3;
}

.about {
    text-align: center;
}

.about h4 {
    margin: 25px;
    font-family: "Roboto Slab";
    font-weight: 700;
    color: #151517;
    font-size: 36px;
    line-height: 46px;
}

.about p {
    font-family: "Roboto";
    color: #878787;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.cooking-bg {
    min-height: 263px;
    padding: 60px 0 0;
    box-sizing: border-box;
    text-align: center;
    background: url(../img/bg-cooking.jpg) center/cover;
}

.cooking-bg p {
    font-family: "Roboto";
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.dishes {
    text-align: center;
}

h4 {
    padding: 50px 0 30px;
    font-family: "Roboto Slab";
    color: #151517;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}

.cta-small {
    text-align: center;
}

.cta-small li {
    display: inline-block;
}

.cta-small a {
    display: inline-block;
    margin: 30px 0;
    padding: 12px;
    font-family: "Roboto";
    color: #151517;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #f5ed07;
    border-radius: 4px;
}

.cta-small a:hover {
    background-color: #f5ed07;
}

.responses-bg {
    background-color: #f1f1f3;
}

.photo img {
    border-radius: 50%;
}

.photo img:hover {
    border: 2px solid #f5ed07;
}

.responses {
    text-align: center;
}

.responses p {
    display: inline-block;
    max-width: 770px;
    font-family: "Roboto";
    color: #878787;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    background-color: #fff;
}

.responses h5 {
    font-family: "Roboto Slab";
    color: #151517;
    font-weight: 700;
    font-size: 14px;
}

p.respondent {
    font-family: "Roboto";
    color: #878787;
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
}

.map {
    min-height: 500px;
}

.bottom-bg {
    background-color: #151517;
}

h6.title {
    color: #f1f1f3;
    text-transform: none;
}

h6 {
    font-family: "Roboto Slab";
    color: #f1f1f3;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.column {
    margin: 0 15px;
    width: 270px;
}

.column p {
    color: #878787;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
}

.column a {
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}

.column a:hover {
    color: #f5ed08;
}