@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
}

/* html {
    font-size: 10px;
} */

body {
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
}

.top-bg {
    background-color: #151517;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}

header li,
.our-dishes li,
.social li {
    display: inline-block;
}

.social a {
    display: block;
    margin: 6px 2px;
    width: 30px;
    height: 30px;
    background: url(../img/eat-me_sprites2.png);
    border-radius: 50%;
}

a.facebook {
    background-position: -128px 0;
    border: 2px solid #151517;
}

a.facebook:hover {
    background-position: -128px -34px;
    border: 2px solid #f5ed07;
}

a.twitter {
    background-position: -160px 0;
    border: 2px solid #151517;
}

a.twitter:hover {
    background-position: -160px -34px;
    border: 2px solid #f5ed07;
}

a.skype {
    background-position: -96px 0;
    border: 2px solid #151517;
}

a.skype:hover {
    background-position: -96px -34px;
    border: 2px solid #f5ed07;
}

/* .social>li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: #f5ed07;
    border: 2px solid transparent;
    border-radius: 50%;
}

.social li:hover {
    background-color: #151517;
    border: 2px solid #f5ed07;
}

.social a {
    background: url(../img/eat-me_sprites.png) no-repeat;
}

a.facebook {
    width: 8px;
    height: 16px;
    background-position: -64px -17px;
}

a.facebook:hover {
    background-position: -64px 0;
}

a.twitter {
    width: 16px;
    height: 13px;
    background-position: -74px -17px;
}

a.twitter:hover {
    background-position: -74px 0;
}

a.skype {
    width: 15px;
    height: 15px;
    background-position: -47px -17px;
}

a.skype:hover {
    background-position: -47px 0;
} */

.contacts-top {
    margin: 0 -25px;
}

a.address,
a.phone,
a.mail {
    position: relative;
    display: block;
    margin: 16px 35px;
}

.contacts-top a:hover {
    color: #f5ed07;
}

a.address:before,
a.phone:before,
a.mail:before {
    content: "";
    position: absolute;
    left: -42px;
    top: -9px;
    width: 30px;
    height: 30px;
    background-image: url(../img/eat-me_sprites2.png);
    border: 2px solid #151517;
    border-radius: 50%;
}

a.address:before {
    background-position: 0 0;
}

a.address:hover:before {
    background-position: 0 -34px;
    border: 2px solid #f5ed07;
}

a.phone:before {
    background-position: -32px 0;
}

a.phone:hover:before {
    background-position: -32px -34px;
    border: 2px solid #f5ed07;
}

.contacts-top a {
    color: #f1f1f3;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto";
}

h1,
h6.title {
    margin: 20px 10px;
    color: #151517;
    font-weight: 700;
    font-size: 30px;
    font-family: "Roboto Slab";
}

.head-menu a {
    text-align: right;
    color: #151517;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: 1px;
}

.head-menu a:hover {
    border-bottom: 3px solid #f5ed07;
}

.head-menu li {
    margin: 30px 10px;
}

.soup-bg {
    position: relative;
    min-height: 480px;
    padding: 60px 0;
    box-sizing: border-box;
    text-align: center;
    background: url(../img/bg-soup.jpg) center/cover;
}

a.cta-arrow {
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-color: #111011;
    border-radius: 50%;
}

a.cta-arrow:hover {
    background-color: #f5ed07;
}

a.arrow-left {
    left: 100px;
}

a.arrow-right {
    right: 100px;
}

a.cta-arrow:after {
    content: "";
    position: absolute;
    top: 15px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

a.cta-arrow:hover:after {
    border-color: #151517;
}

a.arrow-left:after {
    right: 12px;
    transform: rotate(-45deg);
}

a.arrow-right:after {
    right: 16px;
    transform: rotate(135deg);
}

.fruit-soup p b {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    font-family: "Roboto Slab";
    line-height: 60px;
    letter-spacing: 2px;
}

.fruit-soup p {
    /* padding: 45px 0; */
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 28px;
}

.cta a {
    display: inline-block;
    margin: 40px 0;
    padding: 16px 0;
    box-sizing: border-box;
    width: 240px;
    height: 60px;
    color: #151517;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto";
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #f5ed07;
    border: 2px solid transparent;
    border-radius: 4px;
}

.cta a:hover {
    border: 2px solid #f5ed07;
    background-color: #fff;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    margin: 0 15px;
    width: 270px;
}

.advantages {
    padding: 55px 0;
}

.advantage {
    padding: 48px 10px;
    text-align: center;
    border: 2px solid transparent;
}

.advantage picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
}

.advantage:hover {
    border: 2px solid #f5ed07;
    border-radius: 4px;
}

.advantage h3 {
    margin: 20px 0 10px;
    color: #151517;
    font-weight: 700;
    font-size: 18px;
    font-family: "Roboto Slab";
}

.column.advantage p {
    color: #878787;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 21px;
}

.about-bg {
    padding-bottom: 45px;
    box-sizing: border-box;
    background-color: #f1f1f3;
}

.about {
    text-align: center;
}

.about h4 {
    color: #151517;
    font-weight: 700;
    font-size: 36px;
    font-family: "Roboto Slab";
    line-height: 46px;
}

.about p {
    max-width: 870px;
    color: #878787;
    font-weight: 300;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 24px;
}

.cooking-bg {
    min-height: 263px;
    padding: 60px 0 0;
    box-sizing: border-box;
    text-align: center;
    background: url(../img/bg-cooking.jpg) center/cover;
}

.cooking-bg p {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 24px;
}

.our-dishes {
    text-align: center;
}

.our-dishes h4 {
    padding: 0;
}

h4 {
    padding: 50px 0 30px;
    color: #151517;
    font-weight: 700;
    font-size: 36px;
    font-family: "Roboto Slab";
    line-height: 46px;
}

.dishes {
    padding: 30px 0 25px;
}

.cta-small {
    text-align: center;
}

.cta-small li {
    display: inline-block;
}

.cta-small a {
    display: inline-block;
    margin: 30px 5px 35px;
    padding: 10px;
    min-width: 126px;
    color: #151517;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto";
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #f5ed07;
    border-radius: 4px;
}

.cta-small a:hover {
    background-color: #f5ed07;
}

.dishes-bg picture {
    width: 20%;
}

.dishes-bg picture img {
    width: 100%;
    height: auto;
}

/* .dish-bg {
    min-height: 200px;
    width: 20%;
}

.dishes-bg1 {
    background: url(../img/dish1.jpg) center/cover;
}

.dishes-bg2 {
    background: url(../img/dish2.jpg) center/cover;
}

.dishes-bg3 {
    background: url(../img/dish3.jpg) center/cover;
}

.dishes-bg4 {
    background: url(../img/dish4.jpg) center/cover;
}

.dishes-bg5 {
    background: url(../img/dish5.jpg) center/cover;
} */

.responses-bg {
    background-color: #f1f1f3;
}

.responses {
    text-align: center;
}

.responses p {
    display: inline-block;
    padding: 30px;
    max-width: 770px;
    color: #878787;
    font-weight: 300;
    font-size: 15px;
    font-family: "Roboto";
    line-height: 24px;
    background-color: #fff;
}

.respondents {
    padding: 20px 0 60px;
}

.photo img {
    border-radius: 50%;
    border: 2px solid transparent;
}

.photo img:hover {
    border: 2px solid #f5ed07;
}

.responses h5 {
    margin-top: 15px;
    color: #151517;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto Slab";
}

p.respondent {
    margin: 10px 0 25px;
    color: #878787;
    font-weight: 300;
    font-size: 13px;
    font-family: "Roboto";
    line-height: 24px;
    background-color: #f1f1f3;
}

.dot {
    display: inline-block;
    margin: 3px;
    width: 9px;
    height: 9px;
    background-color: #878787;
    border-radius: 50%;
}

.photo-left:hover~.dots .dot:nth-child(2),
.photo-center:hover~.dots .dot:nth-child(3),
.photo-right:hover~.dots .dot:nth-child(4) {
    background-color: #f5ed08;
}

.map {
    min-height: 500px;
}

.bottom-bg {
    background-color: #151517;
}

h6.title {
    color: #f1f1f3;
    text-transform: none;
}

h6 {
    margin: 30px 0;
    color: #f1f1f3;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto Slab";
    letter-spacing: 1px;
    text-transform: uppercase;
}

.column p {
    color: #878787;
    font-weight: 300;
    font-size: 13px;
    font-family: "Roboto";
    line-height: 24px;
}

.column a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto";
}

.bottom {
    padding: 30px 0 45px;
}

.bottom-menu li {
    margin: 8px 0;
}

.bottom-menu a:hover {
    color: #f5ed08;
}

.contacts-bottom a.address:before,
.contacts-bottom a.phone:before {
    border: 0px solid #f5ed07;
}

.contacts-bottom a:hover {
    color: #fff;
    text-decoration: underline;
}

.contacts-bottom a.address:before {
    background-position: 0 -34px;
}

.contacts-bottom a.address:hover:before {
    background-position: 0 0;
}

.contacts-bottom a.phone:before {
    background-position: -32px -34px;
}

.contacts-bottom a.phone:hover:before {
    background-position: -32px 0;
}

a.mail:before {
    background-position: -64px -34px;
}

a.mail:hover::before {
    background-position: -64px 0;
}